@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ab72e1;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: inset 1px 1px 5px #5f039d;
    background-color: #E6D6FF;
}