@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7cee9;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
}

section img {
    height: 200px;
    border-radius: 50%;
    box-shadow: 1px 1px 100px #f757c2;
}

button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 12pt;
    background-color: #f757c2;
    border: none;
    box-shadow: 1px 1px 5px #7e0857;
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px 1px #7e0857;
}
button:hover {
    background-color: #e672bf;
}

#lista {
    background-color: white;
    width: 200px;
    text-align: center;
    border-radius: 20px;
    box-shadow: inset 1px 1px 5px #7e085760;
}