@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

body {
    background-color: blueviolet;
}

header {
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.597);
    text-align: center;
    padding-top: 20px;
    height: 60px;
}

section {
    background-color: white;
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.173);
    margin: auto;
    line-height: 4em;
    text-align: center;
}

div#dados input[type='number'] {
    width: 50px;
    text-align: center;
}

div#dados input[type='submit'] {
    width: 100px;
    border-radius: 5px;
    border-color: blueviolet;
    background-color: rgba(137, 43, 226, 0.167);
}

div#res select#tab {
    padding: 10px;
    overflow-y: hidden; /* esconde a barra vertical */ 
    border-radius: 10px;
}