@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 5em;
    color: yellow;
    text-shadow: 1px 1px 10px #00000063;
    cursor: pointer;
}

input#texto {
    margin-bottom: 10px;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 8px #00000026;
}

input#texto:hover {
    box-shadow: 1px 1px 8px #00000058;
}

button#pesquisarBtn {
    width: 200px;
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button#pesquisarBtn:hover {
    border: solid 1px #0000005c;
}

#historico {
    background-color: #dadade75;
    border-radius: 10px;
    
}

#listaHistorico {
    list-style: none;
    text-align: justify;
    padding: 0;
    
}

.linha {
    padding: 2px;
    width: 450px;
}

.linha::before {
    font-family: 'Material Symbols Outlined';
    content: "history";
    font-size: 20px;
    color: gray;
    margin-right: 10px;
}