@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #3A80D2;
}

header h1 {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    line-height: 2em;
}

section input[type="number"] {
    width: 80px;
    text-align: center;
}

section input[type="button"] {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #bfd8f4;
    color: black;
    font-weight: bolder;
    
}