@charset "UTF-8";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C26868;
}

section, #painel, button {
    box-shadow: 1px 1px 10px #00000030;
}

section {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    height: 200px;
    background-color: #B3BCBB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#painel {
    background-color: white;
    width: 200px;
    height: 120px;
    border-radius: 5px;
    border: 1px solid black;
}

#res {
    font-size: 2em;
}

#limiteTxt {
    font-size: .8em;
    font-weight: bold;
    color: red;
}

.botoes button {
    padding: 10px;
    width: 50px;
    font-size: 1.2em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.botoes button:hover {
    border: 1px solid black;
}