@charset "UTF-8";

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #debbfe;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    text-align: center;
    background-color: #cfa2f8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 10px #38064e66;
}

#velha {
    display: grid;
    grid-template-columns: repeat(3, 100px);
}

.quad {
    text-align: center;
    height: 50px;
    font-size: 2em;
    padding-top: 20px;
    cursor: pointer;
}

#quad2, #quad5, #quad8 {
    border-left: solid 2px black;
    border-right: solid 2px black;
}

#quad1, #quad2, #quad3, #quad4, #quad5, #quad6 {
    border-bottom: solid 2px black;
}

#res {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    background-color: #e7bff8;
    box-shadow: 1px 1px 10px #38064e4b;
}

#res p {
    border: solid 2px black;
    margin: 0px;
    padding: 4px;
    font-size: 1.2em;
}

#botao {
    margin-top: 20px;
    padding: 8px;
    border-radius: 10px;
    width: 100px;
    font-size: 12pt;
    background-color: #bb3ef0;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 10px #38064e66;
    border: none;
    text-shadow: 1px 1px 1px #38064ed9;
}

#botao:hover {
    background-color: #bb3ef0c6;
}