@charset "UTF-8";

body {
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: white;
    text-shadow: 1px 5px 10px #3344b6;
}

input {
    border-radius: 10px;
    padding: 10px;
    border: none;
    box-shadow: 1px 1px 10px #3344b6;
    width: 120px;
}