@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFD93D;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input#cep {
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 10px #00000028;
}

button#buscarBtn {
    background-color: #eeca39;
    font-weight: bolder;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 10px #00000028;
    cursor: pointer;
}
button#buscarBtn:hover {
    background-color: #FFD93D;
}