@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9345935d;
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    background-color: black;
    padding: 10px;
    width: auto;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #00000083;
}

#res {
    margin: 50px 0;
    font-size: 2em;
}

#botoes {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
}

#botoes button {
    background-color: #434342;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 1em;
}

#botoes button:hover {
    background-color: #555555;
}

#botoes .operadores {
    background-color: #942e94;
}
#botoes .operadores:hover {
    background-color: #934593;
}

button#zero {
    width: 130px;
    height: 65px;
    border-radius: 50px;
    grid-column: span 2;
}